.cards {
  margin-bottom: 5.5rem;

  @include breakpoint(tablet) {
    margin-bottom: 3rem;
  }

  // .cards__inner
  &__inner {
  }

  // .cards__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    row-gap: 6rem;
    margin-bottom: 5rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 2rem;
      row-gap: 4rem;
      margin-bottom: 3rem;
    }
  }
}
