.teams {
  margin-bottom: 6rem;

  &__user-link {
    opacity: 0.5;
    @extend %fs-body-s;
    margin-top: 2rem;
    display: block;
    width: fit-content;
  }

  // .teams__inner
  &__inner {
  }

  &__back-link {
    @extend %interactive;
    @extend %fs-body-m;
    display: block;
    margin-bottom: 5.6rem;
  }

  // .teams__heading-block
  &__heading-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

    margin-bottom: 5.6rem;

    @include breakpoint(tablet) {
      flex-direction: column;
      gap: 2rem;

      margin-bottom: 3rem;
      align-items: flex-start;
    }
  }

  // .teams__heading
  &__heading {
    @extend %fs-h-2;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    margin: 15rem 0;

    @extend %fs-h-5;

    @include breakpoint(tablet) {
      margin: 8rem 0;
    }
  }

  &__empty-button {
    margin-top: 3.2rem;

    @include breakpoint(tablet) {
      margin-top: 1.8rem;
    }
  }

  // .teams__list
  &__list {
    display: flex;
    flex-direction: column;
  }

  // .teams__item
  &__item {
    padding: 4.8rem 0;
    border-top: 0.1rem solid #E2E9F0;
    border-bottom: 0.1rem solid #E2E9F0;

    @include breakpoint(tablet) {
      padding: 2.4rem 0;
    }

    &:first-of-type {
      border-top: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  // .teams__card
  &__card {
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: flex-start;
    gap: 3rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  // .teams__card-info
  &__card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
  }

  &__card-link {
    @extend %interactive;
  }

  // .teams__card-title
  &__card-title {
    @extend %fs-h-5;
  }

  // .teams__card-label
  &__card-label {
    display: block;
    @extend %fs-body-m;
  }

  &__card-button {
    margin-top: 1rem;

    padding: 1.2rem 1.6rem;

    @include breakpoint(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__card-empty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    padding: 3.6rem 3.2rem;
    background-color: #F0F6FA;

    @include breakpoint(tablet) {
      flex-direction: column;
      padding: 2rem;
    }
  }

  &__card-empty-text {
    @extend %fs-body-l;
    font-size: 2rem;
  }

  &__card-empty-button {
    padding: 1.2rem 1.6rem;
  }

  // .teams__card-users
  &__card-users {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }

  &__card-user {

  }

  &__card-user-name {
    margin-top: 0.8rem;

    @extend %fs-body-s;
  }

  &__card-user-label {
    margin-top: 0.4rem;

    @extend %fs-body-s;

    opacity: 0.5;
  }

  &__user-curator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2rem;

    background-color: #F0F6FA;
  }

  &__user-curator-image {
    position: relative;

    width: 10rem;
    height: 10rem;

    overflow: hidden;

    border-radius: 50%;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    gap: 0.8px;
    margin-top: auto;
  }

  &__user-info-link {
    opacity: 0.5;

    @extend %fs-body-s;
  }

  // .teams__card-user-image
  &__card-user-image {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card-user-more {
    position: relative;

    height: 0;
    width: 100%;
    padding-bottom: 100%;

    background: #F0F6FA;
  }

  &__card-user-more-text {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: rgba(#758B9E, 0.5);

    @extend %fs-body-s;
  }

  // .teams__label
  &__label {
    display: block;
    margin-bottom: 4rem;
    @extend %fs-body-m;
    opacity: 0.5;
  }

  // .teams__users
  &__users {
    margin-bottom: 5.6rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      row-gap: 4rem;

      margin-bottom: 3rem;
    }
  }

  // .teams__user
  &__user {
  }

  // .teams__user-image
  &__user-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .teams__user-name
  &__user-name {
    margin-top: 1.6rem;
    @extend %fs-body-m;
    font-weight: 700;
  }

  // .teams__user-text
  &__user-text {
    @extend %fs-body-s;
    opacity: 0.5;
    margin-top: 0.8rem;
  }

  // .teams__buttons
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
}

.team-user-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include breakpoint(tablet) {
    gap: 3rem;
  }

  &--mt {
    margin-top: 2.4rem;
  }

  // .team-user-list__item
  &__item {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;
    }
  }

  // .team-user-list__item-image
  &__item-image {
    position: relative;
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .team-user-list__item-info
  &__item-info {
    flex-grow: 1;
  }

  // .team-user-list__item-title
  &__item-title {
    @extend %fs-body-m;
    font-weight: 700;
  }

  &__item-text {
    @extend %fs-body-s;
    opacity: 0.5;
    margin-top: 0.8rem;
  }
}
