<section class="filter">
    <div class="container">
        <div class="filter__inner">
            <form class="form form--wide" action="#">
                <div class="form__wide-inputs">
                    <div class="form__input-wrapper form__input-wrapper--wide js-validation-wrapper">
                        <input class="form__input" type="text" placeholder="Поиск по названию">
                    </div>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <select class="form__input js-custom-select">
                            <option value="">Дата мероприятия</option>
                            <option value="1">Дата мероприятия 1</option>
                            <option value="2">Дата мероприятия 2</option>
                            <option value="3">Дата мероприятия 3</option>
                        </select>
                    </div>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <select class="form__input js-custom-select">
                            <option value="">Категория участников</option>
                            <option value="1">Категория участников 1</option>
                            <option value="2">Категория участников 2</option>
                            <option value="3">Категория участников 3</option>
                        </select>
                    </div>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <select class="form__input js-custom-select">
                            <option value="">Формат участия</option>
                            <option value="1">Формат участия 1</option>
                            <option value="2">Формат участия 2</option>
                            <option value="3">Формат участия 3</option>
                        </select>
                    </div>
                </div>
                <ul class="checkboxes">
                    <li class="checkbox">
                        <input class="visually-hidden" type="checkbox" id="checkbox-1" checked>
                        <label class="checkbox__label" for="checkbox-1">
                            Соревнование
                            <span>×</span>
                        </label>
                    </li>
                    <li class="checkbox">
                        <input class="visually-hidden" type="checkbox" id="checkbox-2" checked>
                        <label class="checkbox__label" for="checkbox-2">
                            Олимпиада
                            <span>×</span>
                        </label>
                    </li>
                    <li class="checkbox">
                        <input class="visually-hidden" type="checkbox" id="checkbox-3">
                        <label class="checkbox__label" for="checkbox-3">
                            Хакатон
                            <span>×</span>
                        </label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>