<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__menu">
                <div class="footer__menu-block">
                    <a class="footer__menu-block-link" href="#">Бизнес</a>
                    <ul class="footer__menu-block-list">
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Кейс-стади</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Сетевая магистратура</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">ДПО</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Сотрудничество</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Киберполигон</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu-block">
                    <a class="footer__menu-block-link" href="#">Наука</a>
                    <ul class="footer__menu-block-list">
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Научные публикации</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Лаборатории</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Семинар ФБИТ</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu-block">
                    <a class="footer__menu-block-link" href="#">Образование</a>
                    <ul class="footer__menu-block-list">
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Бакалавриат</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Магистратура</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Аспирантура</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Школьникам</a>
                        </li>
                        <li>
                            <a class="footer__menu-block-list-link" href="#">Мероприятия и олимпиады</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu-block">
                    <a class="footer__menu-block-link" href="#">Блог</a>
                    <a class="footer__menu-block-link" href="#">О центре</a>
                    <a class="footer__menu-block-link" href="#">Сотрудники</a>
                    <a class="footer__menu-block-link" href="#">Выпускники</a>
                    <a class="footer__menu-block-link" href="#">Контакты</a>
                </div>
                <div class="footer__info">
                    <a class="footer__phone" href="tel:+78123123269">+7 (812) 312-32-69</a>
                    <address class="footer__address">191002, г. Санкт-Петербург, ул. Ломоносова, д. 9, лит. Е</address>
                    <ul class="socials">
                        <li class="socials__item">
                            <a class="socials__link" href="#" target="_blank" title="WA">
                                <svg width="25" height="25">
                                    <use xlink:href="#wa"/>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="#" target="_blank" title="VK">
                                <svg width="25" height="25">
                                    <use xlink:href="#vk"/>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="#" target="_blank" title="TG">
                                <svg width="25" height="25">
                                    <use xlink:href="#tg"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__bottom">
                <div class="footer__copyright">
                    <p>© 2022 МНОЦ «Безопасность и надежность критических цифровых технологий»</p>
                </div>
                <a class="footer__policy" href="#" download>Политика конфиденциальности</a>
                <a class="footer__made-by" href="https://markweber.agency/" target="_blank">
                    <svg width="92" height="23">
                        <use xlink:href="#mw"/>
                    </svg>
                    <span>разработка <br> сайта</span>
                </a>
            </div>
        </div>
    </div>
</footer>
