<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/styles.css"/>
    <title>
        {{ title }}
    </title>
</head>

<body class="no-touch" ontouchstart="">
<div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
    {{> sprite }}
</div>

<div class="page-content">
    {{> header }}
    <main class="page-main">
        {{#block "main"}}

        {{/block}}
    </main>
    {{> footer }}

    {{> modals/menu}}
    {{> modals/modal}}
    {{> modals/auth}}
    {{> modals/password}}
    {{> modals/notifications}}
    {{> modals/support}}
    {{> modals/delete}}
    {{> modals/avatar}}
    {{> modals/event}}
    {{> modals/event-info}}
    {{> modals/start}}
    {{> modals/notify}}
    {{> modals/team}}
    {{> modals/team-add}}
    {{> modals/team-add-new}}
    {{> modals/team-select}}

    {{> ie-placeholder }}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/app.js"></script>
    <script src="assets/js/backend.js"></script>
</div>
</body>

</html>