<div class="hystmodal" id="auth" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <button class="hystmodal__close" data-hystclose></button>
            <div class="modal">
                <div class="modal__heading-block">
                    <h3 class="modal__heading">Вход</h3>
                </div>
                <form class="form js-form" action="#" data-need-validation>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <input class="form__input" type="email" placeholder="Email" required>
                    </div>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <input class="form__input" type="password" placeholder="Пароль" required>
                    </div>

                    <button class="button button--wide js-form-submit" type="submit">Войти</button>
                </form>
                <a class="link modal__link" href="#" data-hystmodal="#password">Забыли пароль?</a>
            </div>
        </div>
    </div>
</div>
