<div class="hystmodal" id="avatar" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <button class="hystmodal__close" data-hystclose></button>
            <div class="modal">
                <div class="modal__heading-block">
                    <h3 class="modal__heading">Загрузить фотографию</h3>
                </div>
                <form class="form js-form js-avatar-form" action="#" data-need-validation>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <input class="form__input ja-avatar-input" type="url" placeholder="Ссылка на фотографию" required>
                    </div>

                    <button class="button button--wide js-form-submit" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
