<div class="hystmodal" id="menu" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window hystmodal__window--menu" role="dialog" aria-modal="true">
            <button class="hystmodal__close" data-hystclose></button>
            <div class="modal">
                <div class="header__top-menu">
                    <ul class="header__menu-list">
                        <li>
                            <a class="header__menu-link" href="#">О центре</a>
                        </li>
                        <li>
                            <a class="header__menu-link" href="#">Сотрудники</a>
                        </li>
                        <li>
                            <a class="header__menu-link" href="#">Выпускники</a>
                        </li>
                        <li>
                            <a class="header__menu-link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="header__bottom-menu">
                    <ul class="header__menu-list">
                        <li>
                            <a class="header__menu-link" href="#">Бизнес</a>
                        </li>
                        <li>
                            <a class="header__menu-link" href="#">Наука</a>
                        </li>
                        <li>
                            <a class="header__menu-link" href="#">Образование</a>
                        </li>
                        <li>
                            <a class="header__menu-link" href="#">Блог</a>
                        </li>
                    </ul>
                    <a class="header__personal" href="./personal.html">
                        <svg width="24" height="24">
                            <use xlink:href="#user" />
                        </svg>
                        <span>Мария Витошкина</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
