<div class="hystmodal" id="modal" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <div class="modal">
                <div class="modal__heading-block">
                    <h3 class="modal__heading">Заявка успешно отправлена</h3>
                </div>
                <div class="modal__description">
                    <p>Мы будем уведомлять вас о статусах мероприятия через личный кабинет и по email.</p>
                </div>
                <button data-hystclose class="button button--wide" type="submit">Отлично</button>
            </div>
        </div>
    </div>
</div>
