<div class="hystmodal" id="notifications" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window hystmodal__window--wide" role="dialog" aria-modal="true">
            <div class="modal">
                <div class="modal__heading-block">
                    <h3 class="modal__heading">Уведомления</h3>
                </div>
            </div>
        </div>
    </div>
</div>
