<div class="hystmodal" id="password" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <button class="hystmodal__close" data-hystclose></button>
            <div class="modal">
                <div class="modal__heading-block">
                    <h3 class="modal__heading">Восстановление пароля</h3>
                </div>
                <div class="modal__description">
                    <p>Укажите электронную почту</p>
                </div>
                <form class="form js-form" action="#" data-need-validation>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <input class="form__input" type="text" placeholder="Логин" required>
                    </div>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <input class="form__input" type="email" placeholder="Email" required>
                    </div>

                    <button class="button button--wide js-form-submit" type="submit">Выслать код</button>
                </form>
            </div>
        </div>
    </div>
</div>
