<div class="hystmodal" id="start" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window" role="dialog" aria-modal="true">
            <button class="hystmodal__close" data-hystclose></button>
            <div class="modal">
                <div class="modal__heading-block">
                    <h3 class="modal__heading">Начать прохождение курса</h3>
                </div>
                <form class="form js-form" action="#" data-need-validation>
                    <button class="button button--wide js-form-submit" type="submit">Начать прохождение курса</button>
                </form>
            </div>
        </div>
    </div>
</div>
