<div class="hystmodal" id="team-add" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="hystmodal__window hystmodal__window--wide" role="dialog" aria-modal="true">
            <div class="modal">
                <div class="modal__heading-block">
                    <h3 class="modal__heading">Добавление участника</h3>
                </div>
                <form class="form js-form" action="#" data-need-validation>
                    <div class="form__input-wrapper js-validation-wrapper">
                        <input class="form__input" type="text" placeholder="Поиск по ФИО">
                    </div>
                </form>
                <ul class="team-user-list team-user-list--mt">
                    <li class="team-user-list__item">
                        <div class="team-user-list__item-image">
                            <img src="img/placeholder.jpg" alt="User">
                        </div>
                        <div class="team-user-list__item-info">
                            <h3 class="team-user-list__item-title">Фамилия Имя Отчество</h3>
                            <div class="team-user-list__item-text">16 лет</div>
                        </div>
                        <button class="button button--white" type="button" data-hystmodal="team-send">Отправить приглашение</button>
                    </li>
                    <li class="team-user-list__item">
                        <div class="team-user-list__item-image">
                            <img src="img/placeholder.jpg" alt="User">
                        </div>
                        <div class="team-user-list__item-info">
                            <h3 class="team-user-list__item-title">Фамилия Имя Отчество</h3>
                            <div class="team-user-list__item-text">16 лет</div>
                        </div>
                        <button class="button button--white" type="button" data-hystmodal="team-send">Отправить приглашение</button>
                    </li>
                    <li class="team-user-list__item">
                        <div class="team-user-list__item-image">
                            <img src="img/placeholder.jpg" alt="User">
                        </div>
                        <div class="team-user-list__item-info">
                            <h3 class="team-user-list__item-title">Фамилия Имя Отчество</h3>
                            <div class="team-user-list__item-text">16 лет</div>
                        </div>
                        <button class="button button--white" type="button" data-hystmodal="team-send">Отправить приглашение</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
