{{#extend "layout"}}
    {{#content "main"}}


        <section class="registration">
            <div class="container">
                <div class="registration__heading-block">
                    <h2 class="registration__heading">Регистрация</h2>
                    <div class="registration__heading-link-block">
                        Уже есть аккаунт? <a class="link" href="#" data-hystmodal="#auth">Войти</a>
                    </div>
                </div>
                <ul class="registration__list">
                    <li class="registration__item">
                        <div class="registration__card">
                            <h3 class="registration__card-title">Ученика</h3>
                            <div class="registration__card-text">
                                <p>Учавствуйте в мероприятиях и проходите наши онлайн-курсы для повышения своей
                                    конкурентоспособности.</p>
                                <ul>
                                    <li>Получайте самые последние новости в сфере ИБ</li>
                                    <li>Узнавайте первыми о самых крутых мероприятиях</li>
                                    <li>Повышайте свои возможности поступления в лучшие вузы страны с помощью наших
                                        курсов
                                    </li>
                                </ul>
                            </div>
                            <a class="button button--arrow" href="#">Зарегистрироваться как ученик</a>
                        </div>
                    </li>
                    <li class="registration__item">
                        <div class="registration__card">
                            <h3 class="registration__card-title">Куратора</h3>
                            <div class="registration__card-text">
                                <p>Формируйте команды своих учеников для быстрой регистарции на командные соревнования.</p>
                                <ul>
                                    <li>Получайте самые последние новости в сфере ИБ</li>
                                    <li>Узнавайте первыми о самых крутых мероприятиях</li>
                                    <li>Заявляйте команды на соревнования самым удобным способом</li>
                                </ul>
                            </div>
                            <a class="button button--arrow" href="#">Зарегистрироваться как куратор</a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    {{/content}}
{{/extend}}