{{#extend "layout"}}
    {{#content "main"}}

        <section class="navigation">
            <div class="container">
                <div class="navigation__inner">
                    <ul class="navigation__left">
                        <li>
                            <a class="navigation__link" href="./personal.html">Личные данные</a>
                        </li>
                        <li>
                            <a class="navigation__link" href="./events.html">Мероприятия</a>
                        </li>
                        <li>
                            <a class="navigation__link" href="./courses.html">Курсы</a>
                        </li>
                    </ul>
                    <ul class="navigation__right">
                        <li>
                            <a class="navigation__icon-link" href="#" data-hystmodal="#notifications">
                                <svg width="28" height="28">
                                    <use xlink:href="#ns"/>
                                </svg>
                                <span>Уведомления</span>
                            </a>
                        </li>
                        <li>
                            <a class="navigation__icon-link" href="#" data-hystmodal="#support">
                                <svg width="28" height="28">
                                    <use xlink:href="#sup"/>
                                </svg>
                                <span>Поддержка</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="teams">
            <div class="container">
                <div class="teams__inner">
                    <div class="teams__heading-block">
                        <h2 class="teams__heading">Команды</h2>
                        <button class="button" type="button" data-hystmodal="#team">Создать команду</button>
                    </div>
                    <div class="teams__empty">
                        <p>Сейчас у вас нет команды</p>
                        <p>Хотите создать?</p>
                        <button class="teams__empty-button button" type="button" data-hystmodal="#team">Создать команду</button>
                    </div>
                    <ul class="teams__list">
                        <li class="teams__item">
                            <div class="teams__card">
                                <div class="teams__card-info">
                                    <a class="teams__card-link" href="./teams-detail.html" title="Перейти на страницу команды"><h3 class="teams__card-title">Название команды</h3></a>
                                </div>
                                <div class="teams__card-empty">
                                    <div class="teams__card-empty-text">Список участников пуст, хотите добавить?</div>
                                    <button class="teams__card-empty-button button button--white" type="button" data-hystmodal="#add-user">
                                        <svg width="20" height="20">
                                            <use xlink:href="#add"/>
                                        </svg>
                                        <span>Добавить участника</span>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="teams__item">
                            <div class="teams__card">
                                <div class="teams__card-info">
                                    <a class="teams__card-link" href="./teams-detail.html" title="Перейти на страницу команды"><h3 class="teams__card-title">Название команды</h3></a>
                                    <span class="teams__card-label">6 участников</span>
                                    <button class="teams__card-button button button--white" type="button" data-hystmodal="#add-user">
                                        <svg width="20" height="20">
                                            <use xlink:href="#add"/>
                                        </svg>
                                        <span>Добавить участника</span>
                                    </button>
                                </div>
                                <ul class="teams__card-users">
                                    <li class="teams__card-user">
                                        <div class="teams__card-user-image">
                                            <img src="img/placeholder.jpg" alt="User">
                                        </div>
                                        <h4 class="teams__card-user-name">Венге</h4>
                                        <div class="teams__card-user-label">Куратор</div>
                                    </li>
                                    <li class="teams__card-user">
                                        <div class="teams__card-user-image">
                                            <img src="img/placeholder.jpg" alt="User">
                                        </div>
                                        <h4 class="teams__card-user-name">Алевтина</h4>
                                    </li>
                                    <li class="teams__card-user">
                                        <div class="teams__card-user-image">
                                            <img src="img/placeholder.jpg" alt="User">
                                        </div>
                                        <h4 class="teams__card-user-name">Григорий</h4>
                                    </li>
                                    <li class="teams__card-user">
                                        <div class="teams__card-user-image">
                                            <img src="img/placeholder.jpg" alt="User">
                                        </div>
                                        <h4 class="teams__card-user-name">Алевтина</h4>
                                    </li>
                                    <li class="teams__card-user">
                                        <div class="teams__card-user-image">
                                            <img src="img/placeholder.jpg" alt="User">
                                        </div>
                                        <h4 class="teams__card-user-name">Григорий</h4>
                                    </li>
                                    <li class="teams__card-user">
                                        <div class="teams__card-user-image">
                                            <img src="img/placeholder.jpg" alt="User">
                                        </div>
                                        <h4 class="teams__card-user-name">Алевтина</h4>
                                    </li>
                                    <li class="teams__card-user">
                                        <div class="teams__card-user-more">
                                            <div class="teams__card-user-more-text">еще +4</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}
