.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 1.5rem;
  background-color: #304659;
  border-radius: 0.4rem;
  color: white;

  width: fit-content;

  @extend %fs-button;

  @extend %interactive;

  &:link,
  &:visited {
    color: white;
  }

  // .button--arrow
  &--arrow {
    &::after {
      content: '>';
    }
  }

  &--wide {
    width: 100%;
  }

  &--white {
    background-color: white;
    border: 0.1rem solid #304659;
    color: #304659;
  }
}
