@import 'variables';
@import 'extends';
@import 'mixins';
@import 'vendor';
@import 'global';
@import 'utils';
@import 'layout';
@import 'header';
@import 'footer';

@import 'modal';
@import 'form';
@import 'socials';
@import 'card';
@import 'copy-block';

@import 'UI/link';
@import 'UI/button';
@import 'UI/checkbox';

@import 'sections/registration';
@import 'sections/navigation';
@import 'sections/personal-block';
@import 'sections/sub-navigation';
@import 'sections/cards';
@import 'sections/filter';
@import 'sections/board';
@import 'sections/course-detail';
@import 'sections/detail';
@import 'sections/teams';
